@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Oswald";
  src: url("../../fonts/Oswald-Bold.ttf") format("truetype");
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #141414;
  color: #fafafa;
  font-family: "Roboto", sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue";
  font-size: 1rem;
  min-height: 100vh;
  text-rendering: optimizeLegibility;
}

body::-webkit-scrollbar {
  width: 0.5rem;
  height: auto;
}

body::-webkit-scrollbar-thumb {
  background-color: #e2e2e2;
  border-radius: 0.4rem;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #fafafa;
}

.footer__link, .nav__link {
  border: 0;
  border-radius: 0.4rem;
  padding: 0.5rem;
  color: #e2e2e2;
  transition: color 0.12s;
  text-decoration: none;
}
.footer__link--active, .nav__link--active {
  cursor: default;
  font-weight: 700;
  color: #fafafa;
}

.footer__link:hover, .nav__link:hover {
  color: #a2a2a2;
}

.footer__link--active:hover, .nav__link--active:hover {
  color: #fafafa;
}

.nav__search {
  border: 0;
  outline: 0;
  background-color: transparent;
  transition: border-color 0.12s;
  font-family: "Roboto", sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue";
  font-size: 1rem;
  border: 0.125rem solid #e2e2e2;
  color: #fafafa;
  padding: 0.5rem 2.5rem;
  border-radius: 0.4rem;
}

.nav__search::placeholder {
  color: #e2e2e2;
}

.nav__search:focus {
  border-color: #a2a2a2;
}

.movies__button, .movie__button, .hero__button, .nav__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: background-color 0.12s, color 0.12s;
  font-weight: 700;
  font-size: 1rem;
  border: 0.125rem solid #fafafa;
  border-radius: 0.4rem;
  padding: 0.5rem 1rem;
  background-color: #fafafa;
  color: #141414;
}
.movie__button--secondary, .hero__button--sound, .nav__button--search {
  border-color: transparent;
  background-color: rgba(20, 20, 20, 0.75);
  color: #fafafa;
}

.movies__button:hover, .movie__button:hover, .hero__button:hover, .nav__button:hover {
  background-color: transparent;
  color: #fafafa;
  border-color: #fafafa;
}

.header {
  position: fixed;
  z-index: 2;
  width: 100%;
  transition: box-shadow 0.12s;
  box-shadow: inset 0 6rem 2rem -2rem rgba(20, 20, 20, 0.75);
}
.header--scroll {
  box-shadow: inset 0 6rem 0 0 #121212;
}
.header__inner {
  padding: 0 1rem;
  max-width: 80rem;
  width: 100%;
  margin: 0 auto;
}

.nav {
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
.nav__logo {
  max-width: 5rem;
  position: relative;
  z-index: 3;
}
.nav__first, .nav__ul, .nav__third {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  list-style: none;
}
.nav__group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
  position: relative;
}
.nav__icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
  position: absolute;
  left: 0.8rem;
}
.nav__button--search, .nav__button--menu {
  display: none;
  z-index: 3;
}
@media only screen and (max-width: 800px) {
  .nav__icon, .nav__search {
    display: none;
  }
  .nav__button--search {
    display: flex;
  }
}
@media only screen and (max-width: 600px) {
  .nav__ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2.5rem;
    background-color: #121212;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: -200vh;
    left: 0;
    padding: 1rem;
  }
  .nav__ul--visible {
    top: 0;
  }
  .nav__li, .nav__link {
    display: block;
    width: 100%;
  }
  .nav__link {
    border-radius: 0;
    border-bottom: 0.125rem solid #f50915;
  }
  .nav__button--menu {
    display: flex;
  }
  .nav__rect {
    transition: transform 0.12s;
  }
  .nav__rect--topchange {
    transform: translate(15px, -10px) rotate(45deg);
  }
  .nav__rect--bottomchange {
    transform: translate(-15px, 30px) rotate(-45deg);
  }
}

.body--event {
  overflow: hidden;
}

.movie__title, .hero__title {
  font-family: "Oswald", sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue";
  font-size: 3rem;
  max-width: 30rem;
  line-height: 1.2;
}

.movie__genres, .hero__genres {
  color: #e2e2e2;
  width: 30rem;
  animation: marquee 10s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translate(100%);
  }
}

.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}
.hero__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: linear-gradient(to top, rgba(20, 20, 20, 0.75), transparent);
}
.hero__video {
  width: 100%;
  height: 100%;
  border: 0;
  position: absolute;
  top: 0;
  z-index: -1;
  user-select: none;
  transform: scale(2);
}
.hero__inner {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0 1rem;
  max-width: 80rem;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
}
.hero__group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2.5rem;
}
.hero__group--inline {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.hero__group--genres {
  position: absolute;
  overflow: hidden;
  bottom: 1rem;
}
.hero__avg, .hero__count {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.hero__name {
  color: #f50915;
}
.hero__button {
  white-space: nowrap;
}
@media only screen and (max-width: 800px) {
  .hero__video {
    transform: scale(3);
  }
}
@media only screen and (max-width: 600px) {
  .hero__video {
    transform: scale(5.7);
  }
  .hero__title {
    font-size: 2rem;
  }
}

.movies__blur {
  background-color: #f50915;
  padding: 3rem;
  position: absolute;
  z-index: -1;
  filter: blur(6rem);
}

.movies__inner {
  padding: 0 1rem;
  max-width: 80rem;
  width: 100%;
  margin: 0 auto;
}
.movies__group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  margin-top: 2.5rem;
}
.movies__button {
  margin: 2.5rem 0;
}

.collection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  position: relative;
  overflow-x: scroll;
  width: 100%;
  padding: 1rem 0;
}

.collection::-webkit-scrollbar {
  width: auto;
  height: 0.5rem;
}

.collection::-webkit-scrollbar-thumb {
  background-color: #e2e2e2;
  border-radius: 0.4rem;
}

.collection::-webkit-scrollbar-thumb:hover {
  background-color: #fafafa;
}

.movie {
  cursor: default;
  position: relative;
  overflow: hidden;
  min-width: 12.5rem;
  height: 100%;
  border-radius: 0.4rem;
}
.movie__inner {
  background-color: rgba(20, 20, 20, 0.75);
  transition: opacity 0.12s;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.movie__poster {
  object-fit: cover;
  user-select: none;
  width: 100%;
  height: auto;
}
.movie__header, .movie__footer {
  padding: 0.5rem;
  position: absolute;
  width: 100%;
}
.movie__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.movie__button {
  padding: 0.5rem;
}
.movie__footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  bottom: 0;
}
.movie__title {
  font-size: 1.5rem;
}
.movie__average {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.movie:hover > .movie__inner {
  opacity: 1;
}

.footer {
  background-color: #121212;
  margin-top: 2.5rem;
}
.footer__inner {
  padding: 0 1rem;
  max-width: 80rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  padding: 2.5rem 1rem;
}
.footer__inner--bottom {
  border-top: 0.125rem solid #e2e2e2;
}
.footer__ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}
.footer__logo {
  max-width: 5rem;
}

/*# sourceMappingURL=styles.css.map */
