$mw-document: 80rem;
$mw-document-secondary: 60rem;
$mw-text: 30rem;
$mw-movie: 12.5rem;

$mh-element: 18.75rem;

$font-primary: "Roboto", sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
$font-title: "Oswald", sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';

$size-primary: 1rem;
$size-subtitle: 1.5rem;
$size-title: 3rem;

$bg-primary: #141414;
$bg-primary-opacity: rgba($color: $bg-primary, $alpha: .75);
$bg-secondary: #f50915;
$bg-tertiary: #121212;

$color-primary: #fafafa;
$color-secondary: #e2e2e2;
$color-tertiary: #a2a2a2;

$space-x-small: 0.5rem;
$space-small: 1rem;
$space-long: 2.5rem;

$border-primary: 0.125rem solid;

$radius-primary: 0.4rem;
$radius-secondary: 0.8rem;