@use "../settings/var";
@use "../tools/tools";
@use "../components/button";
@use "../components/title";

.datamovie {
    @include tools.flex($align: flex-start);
    position: fixed;
    z-index: 4;
    top: -200vh;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: var.$bg-primary-opacity;

    &__inner {
        @include tools.center($mw: var.$mw-document-secondary);
        padding: var.$space-small;
        margin: var.$space-long var.$space-small; 
        border-radius: var.$radius-primary;
        background-color: var.$bg-primary;
        position: relative;
        z-index: -1;
    }

    &__out {
        position: fixed;
        z-index: -2;
        width: 100%;
        height: 100%;
    }

    &__group {
        margin-top: var.$space-long;
        @include tools.flex($gap: var.$space-long, $align: flex-start, $justify: space-between);
        flex-wrap: wrap;
    }

    &__section, &__aside, &__videos {
        max-width: var.$mw-text;
        @include tools.flex($direction: column, $gap: var.$space-small, $align: flex-start, $justify: flex-start);
    }

    &__section {
        position: sticky;
        top: var.$space-long;
    }

    &__bg {
        position: relative;
        overflow: hidden;
        border-radius: var.$radius-secondary;

        &--poster {
            position: absolute;
            z-index: 1;
            top: var.$space-long + 8rem;
            right: 0;
        }
    }

    &__poster {
        object-fit: cover;
        width: 100%;
        min-width: var.$mw-movie;
        min-height: var.$mh-element;
    }

    &__close, &__left {
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0
    }

    &__left {
        left: 0;
    }

    &__button {
        @extend %button;
        margin: var.$space-x-small;

        &--list {
            @extend %button--secondary;
        }
    }

    &__video, &__morevideo {
        position: relative;
        z-index: -1;
        user-select: none;
        border: none;
        width: 100%;
        min-height: var.$mh-element;
        transform: scale(3.3);
    }

    &__title {
        @extend %title;
        font-size: var.$size-subtitle + 0.5rem;
    }

    &__subtitle {
        font-size: var.$size-subtitle;
    }

    &__description {
        color: var.$color-secondary;
        font-size: var.$size-primary;
        font-weight: 400;
    }

    &__info {
        display: block;
        color: var.$color-tertiary;
    }

    &__morevideo {
        transform: scale(1);
        min-height: 0;
        z-index: 1;
    }

    @media only screen and (max-width: 895px) {
        &__section {
            position: static;
        }

        &__aside, &__videos, &__video {
            z-index: 1;
            width: 100%;
            max-width: none;
        }

        &__videos {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(var.$mw-movie, 1fr));
        }
    }
}

.datamovie::-webkit-scrollbar {
    width: var.$space-x-small;
    height: auto;
}

.datamovie::-webkit-scrollbar-thumb {
    background-color: var.$color-secondary;
    border-radius: var.$radius-primary;
}

.datamovie::-webkit-scrollbar-thumb:hover {
    background-color: var.$color-primary;
}