@use "../settings/var";
@use "../tools/tools";
@use "../components/anchor";
@use "../components/input";
@use "../components/button";

.header {
    position: fixed;
    z-index: 2;
    width: 100%;
    transition: box-shadow 0.12s;
    box-shadow: inset 0 6rem 2rem -2rem var.$bg-primary-opacity;

    &--scroll {
        box-shadow: inset 0 6rem 0 0 var.$bg-tertiary;
    }

    &__inner {
        @include tools.center();
    }
}

.nav {
    padding: var.$space-small 0;
    @include tools.flex($justify: space-between, $gap: var.$space-x-small);

    &__logo {
        max-width: 5rem;
        position: relative;
        z-index: 3;
    }

    &__first,
    &__ul,
    &__third {
        @include tools.flex($justify: space-between, $gap: var.$space-x-small);
        list-style: none;
    }

    &__link {
        @extend %anchor;

        &--active {
            @extend %anchor--active;
        }
    }

    &__group {
        @include tools.flex();
        position: relative;

        &--search {
            flex-direction: column;
            align-items: flex-start;
            gap: var.$space-x-small;
            margin-top: var.$space-x-small;
            position: absolute;
            width: 100%;
        }
    }

    &__icon {
        @include tools.flex();
        position: absolute;
        left: 0.8rem;
    }

    &__search {
        @extend %input;
    }

    &__form {
        position: relative;
    }

    &__suggestion {
        background-color: var.$bg-tertiary;
        border-top: var.$border-primary var.$bg-secondary;
        width: 100%;
        padding: var.$space-x-small;
    }

    &__button {
        @extend %button;

        &--search,
        &--menu {
            display: none;
            z-index: 3;
        }

        &--suggestion {
            width: 100%;
        }

        &--search {
            @extend %button--secondary;
        }
    }

    @media only screen and (max-width: 800px) {
        &__icon,
        &__search,
        .nav__group--search {
            display: none;
        }

        &__button--search {
            display: flex;
        }

        &__form {
            display: flex;
            gap: var.$space-x-small;
        }

        &__group--input,
        &__group--search {
            position: absolute;
            top: 3.6rem;
            left: -9.6rem;
        }

        &__group--search {
            top: 6rem;
            width: var.$mw-movie;
        }

        .nav__group--searchvisible {
            display: flex;
        }

        &__search {
            z-index: 3;
            padding: var.$space-x-small;
            background-color: var.$bg-primary;
        }
    }

    @media only screen and (max-width: 620px) {
        &__ul {
            @include tools.flex($direction: column, $align: flex-start, $gap: var.$space-long);
            background-color: var.$bg-tertiary;
            width: 100%;
            height: 100vh;
            position: fixed;
            top: -200vh;
            left: 0;
            padding: var.$space-small;
        }

        &__li,
        &__link {
            display: block;
            width: 100%;
        }

        &__link {
            border-radius: 0;
            border-bottom: var.$border-primary var.$bg-secondary;
        }

        &__button--menu {
            display: flex;
        }

        &__rect {
            transition: transform 0.12s;
        }

        &__rect--topchange {
            transform: translate(15px, -10px) rotate(45deg);
        }

        &__rect--bottomchange {
            transform: translate(-15px, 30px) rotate(-45deg);
        }

        &__group--input,
        &__group--search {
            left: -5.8rem;
        }
    }
}
