@use "../settings/var";
@use "../tools/tools";
@use "../components/genres";
@use "../components/title";
@use "../components/button";
@use "../components/blur";

.movies {
    &__inner {
        @include tools.center();
    }

    &__group {
        @include tools.flex($justify: flex-start, $align: flex-start, $direction: column, $gap: var.$space-small);
        margin-top: var.$space-long;
    }

    &__blur {
        @extend %blur;
    }

    &__button {
        margin: var.$space-long 0;
        @extend %button;
    }
}

.collection {
    @include tools.flex($justify: flex-start, $gap: var.$space-small);
    position: relative;
    overflow-x: scroll;
    width: 100%;
    padding: var.$space-small 0;
}

.collection::-webkit-scrollbar {
    width: auto;
    height: var.$space-x-small;
}

.collection::-webkit-scrollbar-thumb {
    background-color: var.$color-secondary;
    border-radius: var.$radius-primary;
}

.collection::-webkit-scrollbar-thumb:hover {
    background-color: var.$color-primary;
}

.movie {
    cursor: default;
    position: relative;
    overflow: hidden;
    min-width: 12.5rem;
    height: 100%;
    border-radius: var.$radius-primary;

    &__inner {
        background-color: var.$bg-primary-opacity;
        transition: opacity 0.12s;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
    }

    &__poster {
        object-fit: cover;
        user-select: none;
        width: 100%;
        height: auto;
        min-height: 18.75rem;
    }

    &__header, &__footer {
        padding: var.$space-x-small;
        position: absolute;
        width: 100%;
    }

    &__header {
        @include tools.flex($justify: flex-start, $gap: var.$space-small);
    }

    &__button {
        @extend %button;
        padding: var.$space-x-small;

        &--secondary {
            @extend %button--secondary;
        }
    }

    &__footer {
        @include tools.flex($direction: column, $align: flex-start, $justify: flex-start, $gap: var.$space-small);
        bottom: 0;
    }

    &__title {
        @extend %title;
        font-size: var.$size-subtitle;
    }

    &__average {
        @include tools.flex($gap: var.$space-x-small);
    }

    &__genres {
        @extend %genres;
    }
}

.movie:hover > .movie__inner {
    opacity: 1;
}